<h2>Mis Links Cortos</h2>
<%= link_to 'Crear un nuevo link', new_links_link_path, class: 'btn btn-primary mb-3' %>

<% if current_user.links.any? %>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>URL Larga</th>
      <th>URL Corta</th>
      <th>Tipo</th>
      <th>Otros</th>
      <th>Acciones</th>
       <th>Reportes</th>
    </tr>
  </thead>
  <tbody>

    <% current_user.links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td><%= link_to link.url_short,access_link_path(slug: link.slug) %>
        </td>
        <td><%= link.link_type %></td>
        <td> <% if link.link_type == 'private' %> 
               <p>Contraseña: <%= link.password %></p>
             <% elsif link.link_type == 'temporary' %> 
               <p>Fecha de Expiracion: <%= link.expiration_date %></p>
             <% else %> 
               <p> -- </p>
             <% end %>   
        </td>
        <td>
          <%= link_to 'Editar', edit_links_link_path(link), class: 'btn btn-secondary btn-sm' %> 
          <%= button_to 'Eliminar', links_link_path(link), method: :delete, class: 'btn btn-danger btn-sm' %>
        </td>
       <th>
          <%= link_to 'Detalles de Acceso', access_details_links_path(slug: link.slug), class: 'btn btn-primary' %>
          <%= link_to 'Cantidad de Accesos por Día', access_count_by_day_links_path(slug: link.slug), class: 'btn btn-primary' %>
       </th>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
  <h4>No tienes ningún enlace corto creado todavía.</h4>
<% end %>
<br>
<br>
<br>
