<!DOCTYPE html>
<html>
<body>

<link rel="stylesheet" type="text/css" href="/assets/form_styles.css">
<link rel="stylesheet" type="text/css" href="/assets/application.css">

<%= form_with(model:  @link, url: links_links_path) do |form| %>

 <h2>Crear Link </h2>

  <div class="field">
    <%= form.label :name, 'Nombre (opcional):'%>
    <%= form.text_field :name, placeholder: 'Ej: Carla'%>
  </div>

  <div class="field">
    <%= form.label :url, 'URL larga:'  %>
    <%= form.text_area :url, placeholder: 'Ej: https://www.super-long-link.com', required: true,  pattern: "https?://.+" %>
  </div>

  <div class="field">
    <%= form.label :link_type, 'Tipo de Link' %>
    <%= form.select :link_type, [['Link regular', 'regular'], ['Link temporal', 'temporary'], ['Link privado', 'private'], ['Link efímero', 'ephemeral']], class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :password, "Contraseña de Link Privado" %>
    <%= form.password_field :password %>
  </div>

  <div id="expiration_date_field" class="field">
    <%= form.label :expiration_date, "Fecha y Hora de expiracion de Link Temporal" %>
    <%= form.datetime_field :expiration_date %>
  </div>
  
  <div class="actions">
    <%= form.submit "Crear Link"%>
  </div>
<% end %>

</body>
</html>