<!DOCTYPE html>
<html>
  <head>
    <title>ShortLink</title>
     <!-- Etiqueta meta para definir la escala de la vista en dispositivos móviles -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
  
    <!-- Etiqueta para agregar token CSRF para protección contra ataques CSRF -->
    <%= csrf_meta_tags %>
  
    <!-- Etiqueta para agregar políticas de seguridad de contenido (Content Security Policy) -->
    <%= csp_meta_tag %>

    <!-- Enlace al archivo CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Enlace al archivo CSS de FontAwesome para agregar iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-GLhlTQ8iK16H3oZl5n/+rNEIg4ZZk4F5T8Zl5I83MDmzfM9T06LZ4fGf5GIfY8l/" crossorigin="anonymous">

  </head>
 
  <body >
  
  <h2>Bienvenido</h2>


<link rel="stylesheet" type="text/css" href="/assets/form_styles.css">
<link rel="stylesheet" type="text/css" href="/assets/application.css">

<% flash.each do |type, message| %>
  <div class="<%= type %>">
    <%= message %>
  </div>
<% end %>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-links text-center">
       <% if user_signed_in? %>
        <%= button_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'nav-link', data: { turbolinks: false } %>
         <span class="divider"></span>
        <%= button_to 'Eliminar cuenta', delete_account_path, method: :delete, class: 'nav-link' %>
         <span class="divider"></span>
        <%= link_to 'Crear Links Cortos',new_links_link_path, class: 'nav-link' %> 
         <span class="divider"></span>
        <%= link_to 'Mis Links Cortos', links_links_path, class: 'nav-link' %>
        <span class="divider"></span>
        <%= link_to 'Mi Perfil',show_profile_path, class: 'nav-link' %>
       <% else %>
        <%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link' %>
         <span class="divider"></span>
        <%= link_to 'Registrarse', new_user_registration_path, class: 'nav-link' %>
      
       <% end %>
      </div>
     </div>
    </div>
  </nav>
          <div class="container-fluid">
            <%= yield %>
          </div>
      
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
               <span>Copyright &copy; MiProyectoRuby 2024</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
     
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
  </body>
</html>